{% extends 'layout_detail.html' %}
{% block content %}
{% for post in stream %}

<div class="center-relative" id="content">
    <div class="single-post-wrapper content-1070 center-relative">

        <article class="center-relative">
            <h1 class="entry-title">
                <a href="{{ url_for('view_post', slug=post.slug) }}"> {{ post.title }}</a>
            </h1>

            <div class="center-relative">
                <div class="cat-links">
                    <ul>
                        <li>
                            {% for tag in post.tags %}
                            <a href="{{ url_for('tag_entries', slug=tag.slug) }}">{{ tag.name }}</a>
                            {% endfor %}
                        </li>
                </div>

                <div class="entry-date published">{{ post.timestamp.strftime('%Y-%m-%d') }}</div>
            </div>
            <h6>{{ post.content |truncate(30) }}</h6>
        </article>
    </div>
</div>
{% endfor %}

{% endblock %}

