{% extends 'layout_detail.html' %}
{% block content %}
{% for post in stream %}

<div class="center-relative" id="content">
    <div class="single-post-wrapper content-1070 center-relative">

        <article class="center-relative">
            <h1 class="entry-title">
                <a href="{{ url_for('view_post', slug=post.slug) }}"> {{ post.title }}</a>
            </h1>

            <div class="center-relative">
                <div class="cat-links">
                    <ul>
                        <li>
                        {% set tags = post.tags.split(', ') %}
                        {% for tag in tags %}
                        <a href="/entries/tags/{{tag}}">{{  tag  }}</a>
                        {% endfor %}
                        </li>
                </div>

                <div class="entry-date published">{{ post.timestamp.strftime('%Y-%m-%d') }}</div>
            </div>
            <h6>{{ post.content |truncate(15) }}</h6>
        </article>
    </div>
</div>
{% endfor %}

{% endblock %}

