<doctype html>
    <title>Edit Jounral Entry</title>
    <h2>Edit Entry</h2>

    {% from "_formhelpers.html" import render_field %}

    <form method=post action="">
        <dl>
            {{ render_field(form.title) }}
            {{ render_field(form.time_spent) }}
            {{ render_field(form.content) }}
            {{ render_field(form.resources) }}
            {{ render_field(form.tags) }}
        </dl>
        {{ form.csrf_token }}
        <button type="submit" id="submit">Update!</button>
    </form>