{% extends "layout.html" %}

{% block content %}
<h4 style="text-align: center;">Entries that contain '<b>{{ tag.name }}</b>' tag:</h4>
<div class="container">
    <div class="entry-list">
        {% for entry in entry %}
        <article>
            <h2><a href="#">{{ entry.title }}</a></h2>
            <time datetime="2016-01-31">{{ entry.date }}</time>
            <br>
            <span> | </span>
            {% for tag in entry.tags %}
            <a href="#"><span>{{ tag.name }}</span></a>
            <span> | </span>
            {% endfor %}
        </article>
        {% endfor %}
    </div>
</div>
{% endblock %}