{% extends "layout.html" %}

{% block content %}
<h4 style="text-align: center;">Post(s) that contain '<b>{{ tag.name }}</b>' tag:</h4>
<div class="container">
    <div class="entry-list">
        {% for post in post %}
        <article>
            <h2><a href="#">{{ post.title }}</a></h2>
            <time datetime="2016-01-31">{{ post.date }}</time><br>
            <span> | </span>
            {% for tag in post.tags %}
            <a href="#"><span>{{ tag.name }}</span></a>
            <span> | </span>
            {% endfor %}
        </article>
        {% endfor %}
    </div>
</div>
{% endblock %}