{% extends 'layouts/layout_detail.html' %}
{% block content %}
{% from "helpers/_formhelpers.html" import render_field %}
<div class="site-content center-relative" id="content">
    <div class="single-post-wrapper content-1070 center-relative">

        <article class="center-relative">
            <form method=post action="">
                <dl>
                    {{ render_field(form.title) }}
                    {{ render_field(form.time_spent) }}
                    {{ render_field(form.content) }}
                    {{ render_field(form.resources) }}
                    {{ render_field(form.tags) }}
                </dl>
                {{ form.csrf_token }}
                <button type="submit" id="submit">Update!</button>
            </form>
        </article>
    </div>
</div>
<style>
    form label {
	display: block;
	margin-bottom: 8px;
}

form textarea {
	border: 2px solid #e1e1e1;
	font-size: 16px;
	line-height: 1.8em;
	padding:10px 13px;
	margin-bottom: 30px;
	border-radius: 4px;
	width: calc(100% - 32px);
}

form input {
	border: 2px solid #e1e1e1;
	font-size: 16px;
	line-height: 1.8em;
	padding:10px 13px;
	margin-bottom: 30px;
	border-radius: 4px;
	width: calc(30% - 32px);
}
</style>
{% endblock %}