{% extends "layouts/layout_detail.html" %}
{% block content %}
<div class="site-content center-relative" id="content">
    <div class="single-post-wrapper content-1070 center-relative">

        <article class="center-relative">
            All results for {{ tag.name }}:
            {% for entry in entry %}
            <h1 class="entry-title">
                <a href="{{ url_for('view_entry', slug=entry.slug) }}">{{ entry.title }}</a>
            </h1>

            <div class="center-relative">
                <div class="cat-links">
                    <ul style="border-top-style: solid;margin-top: -40px;">
                        <li>
                            {% for tag in entry.tags %}
                            <a href="{{ url_for('tag_entries', slug=tag.slug) }}"><span>{{ tag.name }}</span></a>
                            <span> | </span>
                            {% endfor %}
                            <div class="entry-date published">{{ entry.timestamp.strftime('%Y-%m-%d') }}</div>
                        </li>
                    </ul>
                </div>
                <div class="entry-date published">{{ entry.date }}</div>
            </div>
        </article>
        {% endfor %}
    </div>
</div>
{% endblock %}

<div class="container">
    <h4 style="text-align: center;">Entries that contain '<b>{{ tag.name }}</b>' tag:</h4>
